@font-face{
    font-family:'BossFont';
    src: url('agent-orange/AgentOrange.ttf');
}




.container{
    display:grid;
    width:500px;
    height:500px;
    
    grid-gap:0px;
    margin-top:100px;
    border-style:solid;
    border-color:rgb(61, 60, 60);
    border-width:1px;
    border-width:20p;
    border-radius:1%;
    box-shadow: 3px 3px;
    margin-bottom:15px;
    background-color:white;


}


body{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    background-image: url('grady.jpg');
    background-repeat:no-repeat;
    background-size:1900px 1000px;
}
.controls{
    border-style:solid;
    border-color:rgb(44, 44, 44);
    border-width:2px;
    box-shadow: 3px 3px;
    background-color: rgb(73, 73, 73, 0.4);
    
    border-radius:1%;
    padding-right:100px;
    padding-left:100px;
    padding-top: 10px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
#myValue{
    margin-left:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
}
.inputrange{
    margin-bottom:5px;
}

.gridbox:hover{
    background-color:black;
}
#colored{
    background-color: black;
}

#result{
    font-size:20px;
    margin-left:40px;
    background-color:white;
    border-radius:20%;
    padding:2px
}
/* .gridbox{
    /* border-style:solid;
    border-color:black;
    border-width:1px; */
    
.rStyle{
    background-color:black;
}
.clear{
    border-radius:10%;
    box-shadow:1px 1px;
    margin-left:40px;
    height:30px;
    font-family:helvetica;
    font-weight:bold;
}
.inputrange{
display:flex;
flex-direction:column;
align-items: center;
}
.rainbow{
    border-radius:10%;
    box-shadow:1px 1px;
    margin-left:40px;
    height:30px;
    font-family:helvetica;
    font-weight:bold;


}
#title{
    font-family: 'BossFont';
    font-size:50px;
    color:rgb(48, 2, 2);
    font-style:oblique;
}